html,
body,
#root,
#container {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #141414;
}

a {
  text-decoration: none;
}

.middle {
  overflow: scroll;
}

.middle::-webkit-scrollbar {
  display: none;
}

.text {
  margin: 0;
  color: #fff;
  width: 100%;
  font-family: "Rockwell";
  font-size: 25px;
}

.list-item-text {
  font-size: 20px;
}

.text-centered-x {
  text-align: center;
}

.text-centered {
  text-align: center;
}

.top {
  display: flex;
  align-items: center;
}

#welcome-image {
  width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

.btn-group {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  border: 2px solid #fff;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px;
  position: relative;
  box-shadow: 0 0 5px #fff;
  cursor: pointer;
}

.btn-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.list-item {
  display: grid;
  grid-template-columns: 80% 20%;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 10px;
}

.list > .list-item:not(:last-child) {
  margin-bottom: 10px;
}

.new-list-item > input:focus {
  outline: none;
}

.login-input {
  display: block;
  width: 80%;
  margin: 20px auto;
  padding: 10px;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  font-family: "Rockwell";
}

input:focus {
  outline: none;
}

#container {
  display: grid;
  grid-template-rows: 15% 70% 15%;
}

.btn-group {
  display: flex;
}

.spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.spinning {
  animation: spin 200ms ease-in-out;
}

@keyframes spin {
  from {
    rotate: 0;
  }

  to {
    rotate: 360deg;
  }
}

/* Mobile */

/* ======================================================================================================== */

@media only screen and (max-width: 450px) {
}

/* ======================================================================================================== */

/* Tablet */

/* ======================================================================================================== */

@media only screen and (min-width: 450px) {
  /* .text {
    font-size: 100px;
  }

  .btn {
    width: 150px !important;
    height: 150px !important;
  }

  .btn-icon {
    font-size: 80px !important;
  }

  .login-input {
    height: 100px;
    font-size: 50px;
  } */

  .new-list-item {
    grid-template-columns: 85% 15% !important;
  }

  #welcome-image {
    width: 40%;
    height: auto;
    margin: auto;
    display: block;
  }
}
/* ======================================================================================================== */
